@import '../../../styles/settings.scss';
.rating,
.rating___empty {
    padding: 10px;
    border: 1px solid $text-color;
    border-radius: 7px;
}

.rating___empty {
    padding: 11px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating_stars {
    padding-right: 8px;

}

.rating_count {
    padding-left: 8px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 1px;
        background-color: $text-color;

    }
}
