@import '../../../../styles/settings.scss';

.promotion {

}

.promotion_title {
    padding-bottom: 10px;
}


.promotion_slide{
    padding: 2px;
    height: 100%;
}
.promotion_slider{
    //height: 410px;
}