.headerButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headerButton_link{
    height: 26px;
    width: 26px;
    object-fit: contain;
    margin-bottom: 5px;
}
.headerButton_title{
    white-space: nowrap;

}