@import '../../../../styles/settings.scss';

.filterTitle {
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: $neutral-color;
    color: $text-color;
    transition: color .14s ease-in-out;

    &:hover {
        color: $secondary-color;
    }
}

.filterTitle_title {
    color: inherit;
    font-size: 17px;
    font-weight: 600;
}