@import '../../styles/settings.scss';

.price {
    background-color: $neutral-color;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;

}
.price_oldValue, .price__value, .price_discountCost{
    white-space: nowrap;

}
.price_oldValue {
    color: $text-color;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 500;
    padding-right: 10px;
    white-space: nowrap;

}

.price_value {
    font-weight: 600;
    color: $secondary-color;
    font-size: 20px;
    white-space: nowrap;

}

.price_discountCost {
    color: $secondary-color;

}