@import '../../styles/settings.scss';
.settings{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.settings_formTitle{
    width: 100%;
    text-align: start;
}
.settings_formSubtitle{
    width: 100%;
    text-align: start;
    font-size: 18px;
    margin-top: 6px;
}
.settings_form{
    background-color: $primary-color;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 15px;
}
.settings_fieldsInputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

}
.settings_input{
    border: 1px solid $text-color;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: $primary-color;
}
.settings_fieldRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.settings_imageBox{
    padding-top: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings_imageInput{
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    background-color: $secondary-color;
    color: $title-color;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.settings_selector{
    padding: 5px;
    width: 100%;
}
.settings_imageName{
    font-size: 17px;
    font-weight: 500;
}
.settings_formButton{
    padding: 0;
    border: none;
    background-color: transparent;
    color: $text-color;
    font-size: 20px;
    font-weight: 600;
    transition: color .14s ease-in-out;
    &:hover{
        color: $secondary-color;

    }
}